<mat-card class="contact-detail-container">
    
    <div class="contact-detail-content">
        <img src="./../../assets/img/person.png" alt="">

        <div class="contact-data">
            <h2> {{ this.addService.docData?.firstName }} {{ this.addService.docData?.lastName }} </h2>
            {{ docData?.email }}
        </div>
    </div>
</mat-card>

<mat-card class="adress-container">
    <div class="adress-card">
        <div class="hedaline-adress-card">
            <h1>Address</h1>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialogAdress()" >
                  <mat-icon>edit</mat-icon>
                  <span>Edit Adress</span>
                </button>
              </mat-menu>
        </div>
        
        <p>
            {{ this.addService.docData?.street }} <br>
            {{ this.addService.docData?.zipCode }} {{ this.addService.docData?.city }}
        </p>
    </div>
</mat-card>