<div class="dialog-container">
    <mat-progress-bar class="progress-bar" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Add a new lead</h2>
    <div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>Name</mat-label>
            <input [disabled]="loading" [(ngModel)]="name" matInput placeholder="Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input [disabled]="loading" [(ngModel)]="company" matInput placeholder="Company">
        </mat-form-field>
    </div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>Street</mat-label>
            <input [disabled]="loading" [(ngModel)]="street" matInput placeholder="Street">
        </mat-form-field>
    <div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input [disabled]="loading" [(ngModel)]="zipCode" matInput placeholder="Zip code">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input [disabled]="loading" [(ngModel)]="city" matInput placeholder="city">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-Mail</mat-label>
            <input [disabled]="loading" [(ngModel)]="email" matInput placeholder="E-Mail">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Telephone</mat-label>
            <span matTextPrefix>+49 &nbsp;</span>
            <input [disabled]="loading" [(ngModel)]="telNumber" type="tel" matInput placeholder="123 4567890">
        </mat-form-field>
    </div>    
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Choose prdouct</mat-label>
            <mat-select [(ngModel)]="product" >
                <mat-option value="Product A">Product A</mat-option>
                <mat-option value="Product B">Product B</mat-option>
              </mat-select>
        </mat-form-field>
    </div>

    <mat-dialog-actions>
        <button [disabled]="loading" mat-button >Cancel</button>
        <button [disabled]="loading" mat-button cdkFocusInitial (click)="saveLead()" >Save</button>
    </mat-dialog-actions>
</div>

