.dialog-container {
    padding: 16px;
    position: relative;
    max-height: 90vh;
    overflow-y: scroll;
}

.form-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.form-field {
    width: 400px;
}