<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of allUsers" [routerLink]="['/user', user.id]" >
                <td> {{ user.firstName }} {{ user.lastName }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.zipCode }} {{ user.city }} </td>
            </tr>
        </table>
    </mat-card-content>
  </mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="accent" matTooltip="Add a new User">
    <mat-icon>add</mat-icon>
  </button>
