/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16 {
    margin-right: 16px;
}

.full-width {
    width: 100%;
}

// Table

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0,0,0, .4);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            color: rgba(0,0,0, .4);

            &:first-child {
                padding-left: 16px;
            }
        }

        &:hover {
            background-color: rgba(0,0,0, .04);
        }
    }
}